@import 'tailwindcss';
@plugin "daisyui";

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden;
}

#renderCanvas {
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}
